In [94]:
import tensorflow as tf
tf.set_random_seed(777)
import pandas as pd

In [95]:
path = r'C:\\Users\\student\\Desktop\\dataset\\python\\data'

data = pd.read_csv(path+'\\ThoraricSurgery.csv',header=None)

In [96]:
data.head(3)

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1

In [97]:
xdata = data.iloc[:,:17] 
ydata = data.iloc[:,[17]]

In [98]:
from sklearn.preprocessing import StandardScaler
xdata = StandardScaler().fit_transform(xdata)

In [48]:
# from sklearn.preprocessing import MinMaxScaler
# xdata = MinMaxScaler().fit(xdata)

In [58]:
print(xdata.shape, ydata.shape)

(470, 17) (470, 1)

In [38]:
# from sklearn.preprocessing import StandardScaler
# xdata = StandardScaler().fit_transform(xdata)

In [25]:
xdata.shape

(470, 17)

In [99]:
# hf = (470,17)*(17,1)+1
x = tf.placeholder(tf.float32, shape=[None,17])
y = tf.placeholder(tf.float32, shape=[None,1])
w = tf.Variable(tf.random_normal([17,1]))
b = tf.Variable(tf.random_normal([1]))

In [100]:
hf = tf.matmul(x,w)+b
cost = -tf.reduce_mean(y*tf.log(hf)+(1-y)*tf.log(1-hf))
train = tf.train.GradientDescentOptimizer(0.01).minimize(cost)

In [101]:
# 임계치 0.7 기준, 1.0 or 0.0
pred = tf.cast(hf>0.7, dtype=tf.float32)
accuracy = tf.reduce_mean(tf.cast(tf.equal(pred, y), dtype=tf.float32))

# cv = session.run(cost,feed_dict={x:xdata,y:ydata})

with tf.Session() as session:
    session.run(tf.global_variables_initializer())
    for step in range(20001):
        _,cv = session.run([train,cost],feed_dict={x:xdata, y:ydata})
#         if step%4000==0:
#             print(step, cv)
    hv,pv,av = session.run([hf,pred,accuracy],feed_dict={x:xdata,y:ydata})
    print('정확도 : ',av)

정확도 :  0.7574468

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(
# ...     X, y, test_size=0.33, random_state=42)

In [10]:
import tensorflow as tf
tf.set_random_seed(777)
import pandas as pd

In [102]:
path = r'C:\\Users\\student\\Desktop\\dataset\\python\\data'

data = pd.read_csv(path+'\\ThoraricSurgery.csv',header=None)

In [103]:
data.head(3)

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1

In [104]:
xdata = data.iloc[:,:17] 
ydata = data.iloc[:,[17]]

In [105]:
from sklearn.preprocessing import StandardScaler
xdata = StandardScaler().fit_transform(xdata)

In [106]:
from sklearn.model_selection import *
x_train, x_test, y_train,y_test = train_test_split(xdata,ydata,test_size=0.3, random_state=42)

In [107]:
print(x_train.shape, y_train.shape)

(329, 17) (329, 1)

In [108]:
# hf = (329,17)*(17,1)+1
x = tf.placeholder(tf.float32, shape=[None,17])
y = tf.placeholder(tf.float32, shape=[None,1])
w = tf.Variable(tf.random_normal([17,1]))
b = tf.Variable(tf.random_normal([1]))

In [109]:
hf = tf.sigmoid(tf.matmul(x,w)+b)
cost = -tf.reduce_mean(y*tf.log(hf)+(1-y)*tf.log(1-hf))
train = tf.train.GradientDescentOptimizer(0.01).minimize(cost)

In [110]:
# 임계치 0.7 기준, 1.0 or 0.0
pred = tf.cast(hf>0.7, dtype=tf.float32)
accuracy = tf.reduce_mean(tf.cast(tf.equal(pred, y), dtype=tf.float32))

with tf.Session() as session:
    session.run(tf.global_variables_initializer())
    for step in range(20001):
        _,cv = session.run([train,cost],feed_dict={x:x_train, y:y_train})
    hv,pv,av = session.run([hf,pred,accuracy],feed_dict={x:x_test,y:y_test})
    print('정확도 : ',av)

정확도 :  0.822695