In [4]:
#자료구조 : 자료를 저장 및 관리하는 방법 - python - 리스트, 튜플, 딕셔너리, 
#알고리즘 : 문제를 해결하는 방법

#리스트[] - 생성, 삭제, 수정 가능
#튜플(  ,  , ) - 변경 x

In [2]:
a=(3,2,5,6,1)
a

(3, 2, 5, 6, 1)

In [3]:
# 괄호를 묶지 않아도 튜플 가능

a=3,2,5,6,1
a

(3, 2, 5, 6, 1)

In [8]:
a1=()
a1

a2=5
type(a2)

int

In [9]:
# 1개 값 튜플 정의할 때는 뒤에 , 추가
a3=5,    
type(a3)

tuple

In [13]:
# 튜플은 자료형에 관계없이 데이터 저장 가능
a4=('john',25,180.5,True)
a4

#a4[1]=50    --- error  -> 데이터가 변경되지 않고 계속 유지되어야 하는 경우 튜플 사용

('john', 25, 180.5, True)

In [17]:
a=tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
# tuple <-> list
a=[1,2,3]
a
a=tuple(a)
a
a=list(a)
a

[1, 2, 3]

In [22]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [23]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [29]:
x,y=[1,2]
x
y
x,y=(1,2)
x
y

#unpacking - list, tuple의 요소를 여러 개의 변수에 할당하는 것
#packing - 변수에 list, tuple을 할당하는 것
a=[1,2,3]  #list packing
b=(1,2,3)  #tuple packing

2

In [30]:
t1=(1,2,'x','y')
del t1[0]
# 데이터 삭제 불가능

TypeError: 'tuple' object doesn't support item deletion

In [31]:
t1=(1,2,'x','y')
t1[1:]

(2, 'x', 'y')

In [32]:
t1=(1,2,'x','y')
t2=(3,4)
t1+t2

(1, 2, 'x', 'y', 3, 4)

In [33]:
t2=(3,4)
t2*3

(3, 4, 3, 4, 3, 4)

In [35]:
t2=(3,4)
len(t2)

2

In [44]:
#sequence형 - 데이터가 연속적으로 표현된 자료형 ex)list, tuple, range, 문자열
#sequence형 

# 0~90까지 10씩 증가 리스트 a
a=list(range(0,91,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [45]:
# 0~90까지 10씩 증가 리스트 a
a=list(range(0,91,10))
a

#sequence형에 대해 in 연산자 사용 가능
30 in a   #a 안에 30이 있나?
100 in a
30 not in a
100 not in a

True

In [49]:
'h' in 'hello, python'
'h' not in 'hello, python'
7 in range(100)
100 in range(100)

False

In [65]:
# +연산자로 sequence형 자료 연결 가능
a=[1,2]
b=[3,4]
a+b
'hello'+'hi'
a=(1,2)
b=(3,4)
a+b

# 단, range 는 +연산자 불가능
# range(0,3)+range(3,5)
list(range(0,3))+list(range(3,5))
tuple(range(0,3))+tuple(range(3,5))

#문자+숫자 (x)  -> 숫자를 문자로 변환
'hi'+str(7)

#ange(0,3)*3   #error
list(range(0,3))*3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [73]:
# len : sequence 형의 길이

a=[1,2,3]
len(a)
a=(1,2,3)
len(a)
len(range(0,3))
len('hello')

hi='안녕'
len(hi)   # 문자의 개수

# urf-8
len(hi.encode('utf-8'))

6

In [80]:
# sequence형 자료 참조는 []

x='hi hello'
x[0]
x.__getitem__(0)
# x[10]  
len(x)
x[len(x)-1]
x[-1]

'o'

In [93]:
x[2:-1]
x[2:]
x[1:7:2]   # index 1부터 2씩 증가하면서 6까지 
x[:8:2]
x[3::2]
x[::2]
x[::]

x[5:1]
x[5:1:-1]  # 5,4,3,2
x[::-1]  #역순

x[0:len(x)]
x[:len(x)]

'hi hello'

In [96]:
x=range(10)
x[4:7]
list(range(0,7,2))

[0, 2, 4, 6]

In [98]:
x='hello world'
x[:10:3]

'hlwl'

In [108]:
a=list(range(0,100,10))
a
a[1]=11
a
a[2:5]=[21,31,'x']
a
a[1:9:2]=['a','b','c','d']
a

[0, 'a', 21, 'b', 'x', 'c', 60, 'd', 80, 90]

In [111]:
del a[2:6]
a

[0, 'a']

In [112]:
# dictionary : key&value 로 자료 표현

person=[180,70,'0','seoul']
person2={'키':180, '몸무게':70, '혈액형':'O','사는곳':'seoul'}

In [114]:
person2

{'키': 180, '몸무게': 70, '혈액형': 'O', '사는곳': 'seoul'}

In [119]:
person2={'키':180, '몸무게':70, '혈액형':'O','사는곳':'seoul', '몸무게':80}
person2   # key가 중복되면 마지막 자료가 저장

{'키': 180, '몸무게': 80, '혈액형': 'O', '사는곳': 'seoul'}

In [122]:
person2={'키':180, '몸무게':70, '혈액형':'O','사는곳':'seoul', False:0}
person2

{'키': 180, '몸무게': 70, '혈액형': 'O', '사는곳': 'seoul', False: 0}

In [124]:
person2={'키':180, '몸무게':70, '혈액형':'O','사는곳':'seoul', 99:'구구', 3.14:[3.14, '원주율']}
person2

{'키': 180,
 '몸무게': 70,
 '혈액형': 'O',
 '사는곳': 'seoul',
 99: '구구',
 3.14: [3.14, '원주율']}

In [125]:
person2={'키':180, '몸무게':70, '혈액형':'O','사는곳':'seoul',['주소','전번']: '서울,02'}

TypeError: unhashable type: 'list'

In [129]:
person2={'키':180, '몸무게':70, '혈액형':'O','사는곳':'seoul','취미':{'오전':['수영','야구'],'오후':'공부'}}
person2    # value 위치에 여러 종류의 자료형 사용 가능

{'키': 180,
 '몸무게': 70,
 '혈액형': 'O',
 '사는곳': 'seoul',
 '취미': {'오전': ['수영', '야구'], '오후': '공부'}}

In [131]:
# - key, value가 여러 쌍으루 구성
# - , 로 구분
# - Key는 불변, value는 변/불변

x={}
x
x=dict()
x

{}

In [142]:
# dict(키1:값1, 키2:값2....)
# 문법척 차이 구분!

per=dict(height=180,weight=70,bt='o')
per

per=dict(zip(['height','weight','bt'],[180,70,'o']))
per

per=dict([('height',180),('weight',70),('bt','o')])
per

per=dict({'height':180,'weight':70,'bt':'o'})
per

{'height': 180, 'weight': 70, 'bt': 'o'}

In [135]:
zip(['height','weight','bt'],[180,70,'o'])

In [144]:
a={1:'hi'}
a
a={'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [147]:
b={1:'a'}
print(a)
print(b)
a[2]='b' #key : 2, value : 'b'
a
a['name']='hgd'
a

{'a': [1, 2, 3], 2: 'b'}
{1: 'a'}

{'a': [1, 2, 3], 2: 'b', 'name': 'hgd'}

In [162]:
a['name']='lss'
a
# dictionary[key]='value'
a['weight']=70.5
a
a['name'] # dict[key] -> vaue
a
'weight' in a  # key 존재 확인
'sky' in a
'sky' not in a
len(a)
a.keys()  # key 목록 확인

list(a.keys())

for k in a.keys():
    print(k)
    
for v in a.values():
    print(v)

list(a.values())

for i in a.items():
    print(i)

a
2
name
weight
[1, 2, 3]
b
lss
70.5
('a', [1, 2, 3])
(2, 'b')
('name', 'lss')
('weight', 70.5)

In [170]:
a.get('name')   # none 나올 수 있음
a['name']       # error 
#a['nn']
print(a.get('nn'))

None

In [171]:
a.get('nn','kim')  #dic a에 nn key가 없다면 'kim' 출력
                   # default 설정

'kim'

In [182]:
# set : 집합
# x={1,1,2,2,3}-> {1,2,3}  

s=set([1,2,3,1])   
s
s2=set('hello')
s2

# - 중복 허용 x
# - 순서 x

#s2[1]  # error

s3=set(['k','i','m'])
s3list=list(s3)
s3list
s3list[1]

s3=tuple(['k','i','m'])
s3[0]

'k'

In [184]:
s1=set([1,2,3,4])
s2=set([5,6,3,4])

In [187]:
# 교집합
s1&s2
s1.intersection(s2)

{3, 4}

In [189]:
# 합집합
s1|s2
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [194]:
# 차집합
s1-s2
s1.difference(s2)

{1, 2}

In [199]:
s=set([1,2])
s.add(3)     # 데이터 추가
s
#s.add([4,5])  add 는 2개 이상 추가 x
s
s.update([4,5])
s

{1, 2, 3, 4, 5}

In [211]:
# true : 'test', [1,2], (1,2), {1,2}, 1        -> 있으면 참
# false : '', [], (),{}, 0, none               -> 없으면 거짓

#조건문

#if 조건:
#    수행문
 
x=10
if x==10:
    print()
    
X=3
if X==10:
    print("10입니다")
    print("5보다 큽니다")
print("문장을 수행합니다")

if "test":
    print("수행합니다")
    
if 1:
    print("수행합니다")

if []:
    print("수행합니다")
    
if None:
    print("수행합니다")

문장을 수행합니다
수행합니다
수행합니다

In [214]:
x=10
if x==10:
    pass
if x==10:
    print('안녕')
    if x%2==0:
        print('하세요')

안녕
하세요

In [215]:
x=5
if x==5:
    print('x는')
print("5입니다")

x는
5입니다

In [217]:
x=5
if x>=3:
    print('3 이상')
    if x<10:
        print('10 미만')
    if x<5:
        print('5 미만')
print('입니다')

3 이상
10 미만
입니다

In [218]:
if []:
    print('참')
else:
    print('거짓')

거짓

In [219]:
if [1,2]:
    print('참')
else:
    print('거짓')

참

In [220]:
if None:
    print('참')
else:
    print('거짓')

거짓

In [224]:
bool(0)
bool(10)
bool('python')
bool('')

False

In [226]:
a=[1,2,3]
if a:
    print(a.pop())
a

3

[1, 2]

In [228]:
a=[1,2,3]
while a:    # [조건문]이 참인 동안에 계속 반복
    print(a.pop())

3
2
1

In [ ]:
x=
if x<10:
    print('10보다 작아요')
else:
    print('10보다 커요')

In [ ]:
# 1. 어떤 자연수 n이 있을 때, d(n)을 n의 각 자릿수 숫자들과 n 자신을 더한 숫자라고 정의하자.
# 예를 들어
# d(91) = 9 + 1 + 91 = 101
# 이 때, n을 d(n)의 제네레이터(generator)라고 한다. 위의 예에서 91은 101의 제네레이터이다.
# 어떤 숫자들은 하나 이상의 제네레이터를 가지고 있는데, 101의 제네레이터는 91 뿐 아니라 100도 있다. 
#그런데 반대로, 제네레이터가 없는 숫자들도 있으며, 이런 숫자를 인도의 수학자 Kaprekar가 셀프 넘버(self-number)라 이름 붙였다. 
#예를 들어 1,3,5,7,9,20,31 은 셀프 넘버 들이다.
# 1 이상이고 5000 보다 작은 모든 셀프 넘버들의 합을 구하라.

for i in range(1,4999):
    print()

In [ ]:
# 2.표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 
# 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
# 입력 
# 27000
# Cash3000

# 출력
# 24000

#price=int(input('가격 입력 : '))
#cash3000=price-int(3000)
#print(cash3000)

price=int(input('가격 입력 : '))
coupon=str(input('쿠폰 입력 : '))

#cash3000=price-int(3000)
#cash5000=price-int(5000)

if coupon=='cash3000':
    print(price-int(3000))
elif coupon=='cash5000':
    print(price-int(5000))

In [230]:
# 3.표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 
# 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
# 입력
# 2
# 출력
# (-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

tuple(range(-10,10,2))

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [234]:
# 5. a 리스트에서 중복 숫자를 제거해 보자.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

In [251]:
# 4.튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.
# n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

n= (-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)

k=list(range(1,12,2))

n.index(x)=range(1,12,2)
print(list())

SyntaxError: invalid syntax (<ipython-input-251-4e4b05a5e906>, line 7)