In [1]:
money=True

if money:
    print('사먹는다')
else:   # 반드시 if 와 함께 사용
    print('...')

사먹는다

In [3]:
money=5000
card=True
if money>=10000 or card:       # or : 1개 이상 참
                               # and : 2개 모두 참
    print('taxi')
else:
    print('bus')

taxi

In [4]:
# x in list
# x in tuple
# x in 문자열

poc=['money', 'cp', 'coin']
if 'coin' in poc:
    print('coin here')
else : 
    print('no coin')

coin here

In [8]:
if 0b1010:
    print('true')
else:
    print('false')

true

In [9]:
x=1
y=2
if x==1 and y==2:
    print('true')
else:
    print('false')
    
    
if x==1:
    if y==2:
        print('true')
    else:
        print('false')
else:
    print('false')

true

In [10]:
x=10
if x>0 and x<20:
    print('20보다 작은 양수')
if 0<x<20:
    print('20보다 작은 양수')

20보다 작은 양수
20보다 작은 양수

In [11]:
poc=['cp','paper']
card=True
if 'money' in poc:
    print('taxi')
else:
    if card:
        print('taxi')
    else:
        print('walk')

taxi

In [14]:
poc=['cp','paper']
card=True
if 'money' in poc:
    print('taxi')
elif card:
    print('taxi')
else:
    print('walk')

taxi

In [13]:
if 'money' in poc:
    pass
else:
    print('card')
    
# ====

if 'money' in poc:pass
else:print('card')

card

In [17]:
score=80
if score>=60:
    msg='success'
else:
    msg='failure'
print(msg)

success

In [16]:
score=80
msg='success' if score>=60 else 'failure'
print(msg)
# 조건이 참인 경우 if 조건문 else 조건이 거짓인 경우

success

In [ ]:
# for구문 형식
for 변수 in range(범위):
    반복코드

In [20]:
for i in range(10,1,-1):  #range(1,10)
    print('hi')
    
cnt=int(input('반복 횟수 입력 : '))
for i in range(cnt):
    print('hello ', i)

hi
hi
hi
hi
hi
hi
hi
hi
hi
반복 횟수 입력 : 5
hello  0
hello  1
hello  2
hello  3
hello  4

In [25]:
a=[1,2,3]
a2=(1,2,3)
a3='python'
for i in reversed(a3):      # for 변수 in list/tuple/문자열
    print(i, end=' ')

n o h t y p

In [28]:
#while 조건식:      조건식을 만족하는 동안 수행문장 수행
#    수행문장1
#    수행문장2
#    ...

i=0
while i<10:
    i+=1
    print('hi',i)

hi 1
hi 2
hi 3
hi 4
hi 5
hi 6
hi 7
hi 8
hi 9
hi 10

In [30]:
prompt="""
1.add
2.del
3.list
4.quit

enter number: """

In [31]:
print(prompt)

1.add
2.del
3.list
4.quit

enter number:

In [33]:
number=0
while number != 4:
    print(prompt)
    number=int(input())

1.add
2.del
3.list
4.quit

enter number:
1

1.add
2.del
3.list
4.quit

enter number:
2

1.add
2.del
3.list
4.quit

enter number:
4

In [34]:
# 난수 (random number)
# 모듈(파일) : 함수들의 묶음 (.py, .ipynb)
# 패키지(폴더) : 모듈 또는 서브패키지(하위폴더)의 묶음

import random  # random module 가져오기
random.random()  # 0<=난수<1  
#모듈이름.함수이름


# Q.동일한 수가 발생하지 않는 로또번호 뽑기
i=0
while i!=6:
    i+=1
    #print(random.randint(1,45))

4

TypeError: 'NoneType' object is not iterable

In [10]:
# choice(sequence형) / 무작위 추출
print(random.choice([1,2,3,4,5,6]))
print(random.choice('hello'))
print(random.choice(range(10,20)))

4
l
13

In [11]:
# break / continue : 반복문 제어
# break - 반복문 종료
# continue - 특정 반복 문장을 건너뛸 때

i=0
while True:  # 무한반복
    i+=1
    print(i)
    if i==10:
        break

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in range(100):
    print(i)
    if i==9:
        break

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(20):
    if i%2==0:
        continue   # 반복문의 시작 위치로 이동, 따라서 continue 아래 문장들은 수행 X
    print(i)

1
3
5
7
9
11
13
15
17
19

In [21]:
i=0
while i<=20:
    i+=1
    if i%2==1:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [27]:
#Q. 잔액이 200원 미만이면 판매 중지되도록

coffee=10  # 커피 10잔, 1잔 200원
money=1300

while money:
    print('coffee here')
    coffee=coffee-1
    money=money-200
    print('남은 커피는 %d잔' % coffee)
    print('잔액 %d원' % money)
    if money<200:
        print('no money')
        break

coffee here
남은 커피는 9잔
잔액 1100원
coffee here
남은 커피는 8잔
잔액 900원
coffee here
남은 커피는 7잔
잔액 700원
coffee here
남은 커피는 6잔
잔액 500원
coffee here
남은 커피는 5잔
잔액 300원
coffee here
남은 커피는 4잔
잔액 100원
no money

In [41]:
a=[(1,2),(3,4)]
for (data1,data2) in a:
    print(data1)
    print(data2)

1
2
3
4

In [65]:
# 구구단 2단 출력
# i=0
# while i<20:
#     i+=2
#     print(i, end=" ")
    
i=2
for j in range(1,10):
    print(i*j, end=" ")
print()   

print()
    
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print()

2 4 6 8 10 12 14 16 18

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [57]:
# 별 만들기
for i in range(5):    # 줄
    for j in range(5):  # 별의 갯수
        if j<=i:
            print('*', end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [71]:
for i in range(5):    # 줄
    for j in range(5):  # 별의 갯수
        if j==i:
            print('*', end=" ")
        else:
            print(" ", end=" ")
    print()

*
  *
    *
      *
        *

In [ ]:
#  *
# ***
#*****
n=4
for i in range(1,n):
    print(' '*(3-i),'*'*(2*i-1))

In [82]:
# list 내포 : list 내부에 for구문을 포함

x=[1,2,3]
# res=[]
# for n in x:
#     res.append(n*2)
# print(res)

res=[n*2 for n in x if n%2==0]  #[표현식 for 변수 in 반복가능형 if 조건문]
#x에서 데이터를 n으로 읽어들인 후, 만약 n이 짝수이면, n에 2를 곱한 값으로 list에 저장
print(res)

[4]

In [83]:
res=[y*x for y in range(2,10) for x in range(1,10)]
print(res)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [105]:
# 1. 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. 
# (단 점들의 배열은 모두 정렬되어있다고 가정한다.)
# 예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

s=[1,3,4,8,13,17,20]

for i in s:
    for j in s:
#         if i==j:
#             break
#         else:
#             print(i,j)
        m=int(abs(i-j))
        
            #print(abs(i-j))

           
#         m=min(abs(i-j))
#     print(i,j)
# for k in m:
#     print(min(k))

TypeError: 'int' object is not iterable

In [120]:
# 2. 주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.
# data="이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌"

# 김씨와 이씨는 각각 몇 명 인가요?
# "이재영"이란 이름이 몇 번 반복되나요?
# 중복을 제거한 이름을 출력하세요.
# 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌"
names.split(',')

names.count('이재영')
set(names.split(','))

{'강상희',
 '권종표',
 '김재성',
 '김지완',
 '박민호',
 '박영서',
 '송정환',
 '이성연',
 '이유덕',
 '이재영',
 '전경헌',
 '최승혁'}

In [ ]:
# 3. 10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다. 이들의 총합은 23이다.
# 1000미만의 자연수에서 3,5의 배수의 총합을 구하라.

n = 0
for i in range(1, 1000):
    if i % 3 == 0 or i % 5 == 0: 
        n += i
print(n)

In [ ]:
# 4. 자기 자신을 제외한 모든 양의 약수들의 합이 자기 자신이 되는 자연수를 완전수라고 한다. 
# 예를 들면, 6과 28은 완전수이다. 6=1+2+3 // 1,2,3은 각각 6의 약수 28=1+2+4+7+14 // 1,2,4,7,14는 각각 28의 약수
# 입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드를 작성하라.

N=int(input())
for i in range(1,N+1):
    if N%i==0:
        print(i)

In [ ]:
# 5. 0~9까지의 문자로 된 숫자를 입력 받았을 때, 이 입력 값이 0~9까지의 숫자가 
# 각각 한 번 씩만 사용된 것인지 확인하는 함수를 구하시오.

# sample inputs: 0123456789 01234 01234567890 6789012345 012322456789
# sample outputs: true false false true false

In [ ]:
# - run length 압축알고리즘 문제( .bmp)
# 6. 문자열을 입력받아서, 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시하여 문자열을 압축하기.

# 입력 예시: aaabbcccccca
# 출력 예시: a3b2c6a1